/* cvet osnovnogo teksta #000000 */
/* vtorichniy cvet teksta rgba(0, 0, 0, 0.8) */
/* beliy #FFFFFF */
/* akcent #18A0FB */
/* vtorichniy cvet fona #F5F5F5 */
/* feature-list = characteristics-list */
/* work-list = specialisation-list */

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color:  #18A0FB;
    --primary-white-color: #ffffff;
}
body {

    background-color: var(--primary-white-color)ff;
    color: var(--primary-text-color) ;

    font-family: Monserrat, sans-serif;
    /* eto sdes primer u nas takogo vrode netu */
    letter-spacing: -0.015em;
    font-size: 18px;
    line-height: 1.67;
}

.list{
    list-style: none;
}
/* Logo */
.logo{
    color: var(--title-text-color);
    font-family: Comfortaa, cursive;

    font-size: 28px;
    line-height: 1.14;
    text-decoration: none;
}
.logo:hover{
    color: var(--accent-color);
}
/* Site nav */
.site-nav .link {
    color: var(--accent-color);

    font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.site-nav .link-current {
    color: var(--accent-color);
}
/* Hero */

.hero-title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}
/* Section */

.section-title {
    color: var(--title-text-color);

    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
}
.section-description {
  font-size: 36px;
  line-height: 1.39;
}
/* characteristics (features) */
/* Examples (work)*/

.characteristics-list .title,
.specialisation-list .title {
  color:  var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.characteristics-list .link{
    color: var(--accent-color);
}
/* Works  */
/* .works{
  background-color: tomato;
} */
/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-size: 24px;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid black;
/* this added at second css lesson */
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-color: blue;
}